@use '../base/variables' as v;
@use '../base/mixins' as m;

.tiendas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: v.$separacion;
    @include m.tablet { 
          margin-bottom: 0;
    }

    &__heading,
    &__texto {
        text-align: center;
    }
    &__heading {
        color: v.$secundario;
        margin: 2rem 0 0;
    }
    &__texto {
        margin-bottom: 3rem;
    }
    &__grid {
        @include m.grid(2, 2rem)
    }
    &__enlace {
        transition: transform .5s ease;
        &:hover {
            transform: scale(1.1);
            @include m.tablet { 
                transform: scale(1.2);
            }
        }
    }
}